*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
}

.flex
{
  display: flex;
}

.flex-column
{
  flex-direction: column;
}

.justify-center
{
  justify-content: center;
}

.align-center
{
  align-items: center;
}

.width-100
{
  width: 100%;
  min-height: 100px;
}

.container
{
  width: 70%;
}

.explanation-box
{
  /* width: 70vw; */
  padding: 20px;
  border: solid 1px rgb(151, 151, 151);
  border-radius: 15px;
  margin-top: 50px;
}

.buttons
{
  display: flex;
  justify-content: center;
}

button
{
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 3px rgb(255, 255, 255);
  margin: 10px 10px 0px 10px;
  background-color: rgb(0, 140, 255);
  color: rgb(255, 255, 255);
  font-size: 150%;
  box-shadow: 2px 4px 8px black;
}

.active
{
  background-color: yellow;
  border: solid 3px black;
  color: black;
  box-shadow: none;
}

.bigger-font
{
  font-size: 200%;
}

.mb-20
{
  margin-bottom: 20px;
}

.mt-20
{
  margin-top: 20px;
}